<!--<ion-header>
  <ion-toolbar>
    <ion-title>homedar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="global">

      <ion-label>
   Name:
      </ion-label>
      <ion-input placeholder="Put Ur name" type="text"></ion-input>

    </ion-item>
    <ion-item>
      <ion-label>
   User Age:
      </ion-label>
      <ion-input placeholder="put ur Age" type="number" ></ion-input>

    </ion-item>
    <ion-item>
      <ion-label>
   User Phone
      </ion-label>
      <ion-input placeholder="your phone" type="tel"></ion-input>

    </ion-item>
    <ion-item>
    <ion-label>
      User Gender
    </ion-label>
    <ion-select >

      <ion-select-option value="female">Female</ion-select-option>
      <ion-select-option value="male">Male</ion-select-option>

    </ion-select>

</ion-item>






</div>


</ion-content>-->
<ion-header>
  <ion-toolbar>
    <ion-title>homedar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="global">



<div class="divicon">
  <ion-icon name="person-circle-outline"></ion-icon>
</div>


    <ion-item>
  <ion-label>
    Name:
       </ion-label>
       <ion-input placeholder="Enter your name" type="text"></ion-input></ion-item>


       <ion-item>
        <ion-label>
     User Age:
        </ion-label>
        <ion-input placeholder="Enter your Age" type="number" ></ion-input>
  
      </ion-item>
      <ion-item>
        <ion-label>
     User Phone
        </ion-label>
        <ion-input placeholder="Enter your phone" type="tel"></ion-input>
  
      </ion-item>
      <ion-item id="itemselect">
      <ion-label >
        User Gender
      </ion-label>
      <ion-select >
  
        <ion-select-option value="female">Female</ion-select-option>
        <ion-select-option value="male">Male</ion-select-option>
  
      </ion-select>
  
  </ion-item>
  
  
  <ion-button expand ="block">Submit</ion-button>
  
  


  </div>
</ion-content>