<ion-header>
  <ion-toolbar>
    <ion-title>homedar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content dir="rtl">
  <div class="global1">



<div class="divicon">
  <ion-icon name="person-circle-outline"></ion-icon>
</div>


    <ion-item>
  <ion-label>
    الاسم:
       </ion-label>
       <ion-input placeholder="ادخل الإسم" type="text"></ion-input></ion-item>


       <ion-item>
        <ion-label>
          العمر:
        </ion-label>
        <ion-input placeholder="أدخل العمر:" type="number" ></ion-input>
  
      </ion-item>
      <ion-item>
        <ion-label>
          الهاتف:
        </ion-label>
        <ion-input placeholder="أدخل رقم هاتفك " type="tel"></ion-input>
  
      </ion-item>
      <ion-item id="itemselect">
      <ion-label >
        الجنس:
      </ion-label>
      <ion-select >
  
        <ion-select-option value="female">Female</ion-select-option>
        <ion-select-option value="male">Male</ion-select-option>
  
      </ion-select>
  
  </ion-item>
  
  
  <ion-button expand ="block">Submit</ion-button>
  
  


  </div>
</ion-content>