<ion-header no-border >



<div class="login-header ion-padding">


<img class="logo-img" src="">

</div>


</ion-header>

<ion-content >


<div class="cover">
<ion-item >
  <ion-label >Name:</ion-label>
    <ion-input   placeholder="username" type ="text"></ion-input>
    </ion-item>
  


    <ion-item >
      <ion-label style="margin-right: 14px;" > Age:   </ion-label>
      <ion-input placeholder="Your Age" type ="tel"></ion-input>
      
      </ion-item>






      <ion-item transparent>
        <ion-label>Phone:</ion-label>
        <ion-input placeholder="Your Phone Number " type ="tel"></ion-input>
        
        </ion-item>
        <ion-item>
          <ion-label>Gender:</ion-label>
        <ion-input placeholder="PasswordYour Gender" type="text"></ion-input>
        </ion-item>
        <ion-button>Submit</ion-button>
      </div>

</ion-content>
